<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <style>

      .hidden {
        display: none;
      }
      .prpbtn {
        background-color: #D4F274;
        color: black;
        border-radius: 10px;
      }
      .dash {
        background-color: white;
        border-radius: 10px;
        padding: 16px;
        margin-left: 10px;
        margin-right: 10px;
        height: 120px
      }
      .dash-main {
        background-color: #24282C;
        color: white;
        border-radius: 10px;
        padding: 16px;
        margin-left: 10px;
        margin-right: 10px;
        height: 120px
      }
      .dropdown-toggle::after {
        content: none;
      }
      .dropleft-toggle::after {
        content: none;
      }

      .iframe-hidden {
        display: none;
        height: 0px;
        width: 0px;
      }

      #delete-confirmation-iframe {
        display: block;
        height: 200px;
        width: 500px;
        background: #F7F6F1;
        border: 0px;
      }
      .checkbox-custom {
        accent-color: #D4F274;
      }

    </style>
  </head>

  <body style="background-color:#F7F6F1;">
  <div class="container-fluid">
    <div class="row">         
      <!-- <nav class="col-md-2 d-none d-md-block sidebar border-right border-top" style="background-color:#F7F6F1">
        <h4 class="text-center p-4" style="color:#24282C">StringFlow</h4>

        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item my-3">
              <a class="nav-link active" href="{{ url_for('rackets') }}"  style="color:#24282C;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 24 24" fill="none" stroke="#24282C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item my-3">
              <a class="nav-link"  href="{{ url_for('inventory') }}" style="color:#24282C">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 24 24" fill="none" stroke="#24282C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21.5 12H16c-.7 2-2 3-4 3s-3.3-1-4-3H2.5"/><path d="M5.5 5.1L2 12v6c0 1.1.9 2 2 2h16a2 2 0 002-2v-6l-3.4-6.9A2 2 0 0016.8 4H7.2a2 2 0 00-1.8 1.1z"/></svg>
                Inventory
              </a>
            </li>
            <li class="nav-item my-3">
              <a class="nav-link" h ref="{{ url_for('customers') }}" style="color:#d8d8d8">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 24 24" fill="none" stroke="#d8d8d8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                Customers
              </a>
            </li>
            <li class="nav-item my-3">
              <a class="nav-link" h ref="{{ url_for('history') }}" style="color:#d8d8d8">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 24 24" fill="none" stroke="#d8d8d8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                Racket history
              </a>
            </li>
            <li class="nav-item my-3">
              <a class="nav-link" h ref="{{ url_for('stringers') }}" style="color:#d8d8d8">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 24 24" fill="none" stroke="#d8d8d8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg> 
                Stringers
              </a>
            </li>
          </ul>
        </div>
      </nav>  -->
        <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-0"><div class="table-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3"  style="background-color: #F7F6F1">
            <h4 class="col-8 sh4 ">Welcome back!</h4>   
            <div class="btn-toolbar pb-2 mb-md-0">
              <div class="mr-5">
                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('logout') }}" >Sign Out</a>
              </div>
            </div>         
          </div> -->

          <!-- Dashboard Analytics -->
          <!-- <div class="container m-0">
            <div class="row py-4 px-2" style="background-color: #F7F6F1">
              <div class="col-sm dash-main">
                New Orders
                <svg style="position: relative; left: 90px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                <div>
                  <br>
                  <h2>{{orders_today}}</h2>
                </div>
              </div>
              <div class="col-sm dash">
                Rackets finished today
                <svg style="position: relative; left: 18px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#24282C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>
                <div>
                  <br>
                  <h2>{{finished_today}}</h2>
                </div>
              </div>
              <div class="col-sm dash" style="color: #d8d8d8">
                Orders this week
                <svg style="position: relative; left: 55px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#d8d8d8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="10" cy="20.5" r="1"/><circle cx="18" cy="20.5" r="1"/><path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"/></svg>
                <div>
                  <br>
                  <h2>+</h2>
                </div>
              </div>
              <div class="col-sm dash" style="color: #d8d8d8">
                Customers this week
                <svg style="position: relative; left: 20px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#d8d8d8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                <div>
                  <br>
                  <h2>+</h2>
                </div>
              </div>
            </div>
          </div> -->

          <div class="bg-white container-fluid d-flex pl-4 py-4">
            <div class="col-10">
              <h4>Racket Queue</h4>
            </div>
            <div class="col-1">
              <button type="button" class="btn fa prpbtn" data-toggle="modal" data-target="#entryform" style="color: white; border-radius: 10px; position: relative; right: 0px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#24282C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
              </button>             
            </div>
            <div class="col-1">
              <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('logout') }}" style="font-size: 15px">Log Out</a>
            </div>
          </div>

          <!-- <div class="container mx-auto py-3" style="background-color: white">
            <div class="row pl-1 pt-2">
              <div class="col-10">
                <h4>Racket Queue</h4>
              </div>
              <div class="col-2">
                <button type="button" class="btn fa prpbtn" data-toggle="modal" data-target="#entryform" style="color: white; border-radius: 10px; position: relative; left: 25px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#24282C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
                </button>
              </div>
            </div>
          </div> -->

            <!-- Queue Table -->

            <div class="table-responsive">
            <table class="table table-light table-hover w-100 d-block d-md-table" style="margin:auto ; background-color: white" id="queue">
              <thead>
                <tr class="text-center">
                  <th scope="col">Name</th>
                  <th scope="col">Brand</th>
                  <th scope="col">Model</th>
                  <th scope="col">Mains</th>
                  <th scope="col">Crosses</th>
                  <th scope="col">Tension</th>
                  <th scope="col">Stringer</th>
                  <th scope="col">Status</th>
                  <th scope="col">Paid</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  {% for racket in rackets %}
                      <tr class="text-center">
                        <form action="/racket/{{ racket.id}}" method="POST">  
                          <td class="align-middle">{{racket.player_name}}</td>                  
                          <td class="align-middle">{{racket.racket_brand}}</td>
                          <td class="align-middle">{{racket.racket_model}}</td>
                          <td class="align-middle">{{racket.string_main}}</td>
                          <td class="align-middle">{{racket.string_cross}}</td>
                          <td class="align-middle">{{racket.tension}}</td>
                          <td class="align-middle"> 
                            <select value="{{racket.stringer}}" name="stringer" class="select-picker bg-light border-0"> 
                              <option value="" {% if racket.stringer==None %} selected {% endif %}>None</option>
                              <option value="Zanto" {% if racket.stringer=="Zanto" %} selected {% endif %}>Zanto</option>
                              <option value="Diego" {% if racket.stringer=="Diego" %} selected {% endif %}>Diego</option>
                              <option value="Jaime" {% if racket.stringer=="Jaime" %} selected {% endif %}>Jaime</option>
                              <option value="Mauricio" {% if racket.stringer=="Mauricio" %} selected {% endif %}>Mauricio</option>
                              <option value="Jacob" {% if racket.stringer=="Jacob" %} selected {% endif %}>Jacob</option>
                              <option value="Madi" {% if racket.stringer=="Madi" %} selected {% endif %}>Madi</option>
                            </select>
                          </td>                          
                          <td class="align-middle">
                            <select value="{{racket.status}}" class="select-picker bg-light border-0" name="status">
                              <option {% if racket.status=="In Progress" %} selected {% endif %} value="In Progress">In Progress</option>
                              <option {% if racket.status=="Finished" %} selected {%endif%} value="Finished">Finished</option>
                            </select>
                          </td>
                          <td class="align-middle">  
                              <input class="checkbox-custom"  type="checkbox" name="paid" {% if racket.payment==True %} checked {% endif %}></input>
                          </td>      
                                      
                          <td class="align-middle">
                           <button type="submit" class="btn prpbtn">Save</a>
                          </td>
  
                           <td style="width: 60px">
                            <div class="dropdown show">
                              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: 0px; background-color: white; color:#24282C; font-size:20px; position: relative; right: 15px;">&#x22EE</a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Edit</a>                     
                                <a class="dropdown-item delete-item" href="#" data-racketid="{{racket.id}}">Delete</a>
                                <a class="dropdown-item" href="#">Info</a>
                              </div>
                            </div>
                            </td>                        
                        </form>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div> 
  
        <!-- Modal -->
        <div class="modal fade" id="entryform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content bg-light">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Racket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="text-white" aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/racket" class="bg-light" method="POST" >
  
                  <label for='pname'>Player Name</label>    
                  <input type="'text" id="pname" name="player_name" class="form-control bg-light rounded-0 border-0" placeholder="Player Name" required ><br>
          
                  <label for='pnumber'>Phone Number</label>    
                  <input type="'tel" id="pnumber" name="phone_number" class="form-control bg-light rounded-0 border-0" placeholder="Phone Number" required ><br>
                 
                  <label for='rbrand'>Racket Brand</label>    
                  <select id="rbrand" name="racket_brand" class="form-control bg-light rounded-0 border-0" required>
                    <option value="Wilson">Wilson</option>
                    <option value="Babolat">Babolat</option>
                    <option value="Head">Head</option>
                    <option value="Yonex">Yonex</option>
                    <option value="Prince">Prince</option>
                    <option value="Dunlop">Dunlop</option>
                    <option value="Tecnifibre">Tecnifibre</option>
                  </select>
                  <br>
          
                  <label for="rmodel">Racket Model</label>   
                  <input type="text" id="rmodel" name="racket_model" class="form-control bg-light rounded-0 border-0" placeholder="Racket Model" required><br>
          
                  <label for='smain'>String Mains</label>    
                  <select id="smain" name="string_main" class="form-control bg-light rounded-0 border-0">
                   <option value="Hyper G">Hyper G</option>
                   <option value="Hyper G">Hyper G v2</option>
                   <option value="Barbwire">Barbwire</option>
                   <option value="Tourbite">Tourbite</option>
                   <option value="Own String">Vanquish</option>
                   <option value="Own String">Synthetic</option>
                   <option value="Own String">Own String</option>
                  </select><br>
          
                  <label for='scross'>String Crosses</label>
                  <select id="scross" name="string_cross" class="form-control bg-light rounded-0 border-0" required>
                      <option value="Hyper G">Hyper G</option>
                      <option value="Hyper G">Hyper G v2</option>                 
                      <option value="Barbwire">Barbwire</option>
                      <option value="Tourbite">Tourbite</option>
                      <option value="Own String">Vanquish</option>
                      <option value="Own String">Synthetic</option>
                     <option value="Own String">Own String</option>
                  </select><br>
          
                  <label for='tens'>String Tension</label>    
                  <input type="number" id="tens" name="tension" class="form-control bg-light rounded-0 border-0" placeholder="String Tension" required><br>
  
                  <label for='paid'>Paid</label>    
                  <input type="checkbox" id="paid" name="paid" class="checkbox-custom rounded-0 border-0"> <br>
  
                  <button type="submit" class="btn prpbtn btn-lg btn-block">Add New Racket</button>
          
                </form>
              </div>
            </div>
          </div>
        </div>

      <div class="modal" id="delete-confirmation-modal" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <iframe id="delete-confirmation-iframe" frameBorder=0></iframe>
          </div>
      </div>
      

      <!-- Bootstrap JS imports -->

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script>
        function deleteRaquetOrder(event){
          let racketId = event.target.dataset.racketid;
          let iframe = document.querySelector('#delete-confirmation-iframe');
          iframe.src = `/racket/${racketId}/delete`;

          $('#delete-confirmation-modal').modal({keyboard: false});
        }

        function setupListeners() {
          document.querySelectorAll('.delete-item').forEach((deleteButton) => {
            deleteButton.addEventListener('click', deleteRaquetOrder);
          });

          window.addEventListener('message', (event) => {
            // only read events from our own app (for security)
            if (event.origin !== window.location.origin) return;

            let message;

            try {
              message = JSON.parse(event.data);
            } catch (e) {
              console.error('unable to parse post message', event);
              // cant intepret post message give up.
              return;
            }
          
            if (message.message === 'closeDeleteDialog') {
              $('#delete-confirmation-modal').modal('hide');
            }

            if (message.reload) {
              window.location.reload();
            }

          });
        }
        setupListeners()
      </script>   
    </body>
</html>

