<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <style>

      .hidden {
        display: none;
      }

    </style>
  </head>

    <body class="bg-dark">
      <div class="row px-5 mt-5 mb-3">
        <div class="col-10">
          <h3 class="text-white"> Racket Queue </h3>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#entryform">
            Add New Racket
          </button>
        </div>
      </div>
        <table class="table table-dark table-striped table-bordered table-hover" style="width: 1200px; margin:auto">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col" style="width:15%">Date Received</th>
                <th scope="col">Racket Brand</th>
                <th scope="col">Racket Model</th>
                <th scope="col">Strings Mains</th>
                <th scope="col">Strings Cross</th>
                <th scope="col">Tension</th>
                <th scope="col">Stringer</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for racket in rackets %}
                    <tr class="text-center">
                        <td class="align-middle">
                          {{ racket.created_on.strftime('%A %m-%d') }}</td>
                        <td class="align-middle">{{racket.racket_brand}}</td>
                        <td class="align-middle">{{racket.racket_model}}</td>
                        <td class="align-middle">{{racket.string_main}}</td>
                        <td class="align-middle">{{racket.string_cross}}</td>
                        <td class="align-middle">{{racket.tension}}</td>
                        <td class="align-middle"> 
                          <select class="select-picker bg-dark text-white border-0"> 
                            <option>Diego</option>
                            <option>Jaime</option>
                            <option>Mauricio</option>
                            <option>Emilio</option>
                          </select>
                        </td>
                        <td class="align-middle">{{racket.status}}</td>
                        <td class="align-middle">
                          {% if racket.status == "In Progress" %}
                          <form action="/racket/{{ racket.id}}" method="POST">
                            <input class="hidden" value="Finished" name="status" />
                          <button type="submit" class="btn btn-primary">Done</a>
                          </form>
                          {% else %}
                          <form action="/racket/{{ racket.id}}" method="POST">
                            <input class="hidden" value="In Progress" name="status" />
                          <button type="submit" class="btn btn-secondary">Undo</a>
                          </form>
 
                          {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
          </table>
          <br><br>

      <!-- Modal -->
      <div class="modal fade" id="entryform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content bg-dark">
            <div class="modal-header">
              <h5 class="modal-title text-white" id="exampleModalLabel">New Racket</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-white" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/racket" class="bg-dark text-white" method="POST" >

                <label for='pname'>Player Name</label>    
                <input type="'text" id="pname" name="player_name" class="form-control bg-dark rounded-0 text-white border-0" placeholder="Player Name" required ><br>
        
                <label for='pnumber'>Phone Number</label>    
                <input type="'tel" id="pnumber" name="phone_number" class="form-control bg-dark rounded-0 text-white border-0" placeholder="Phone Number" required ><br>
        
        
        
                <label for='rbrand'>Racquet Brand</label>    
                <select id="rbrand" name="racket_brand" class="form-control bg-dark rounded-0 text-white border-0" required>
                  <option value="Wilson">Wilson</option>
                  <option value="Babolat">Babolat</option>
                  <option value="Head">Head</option>
                  <option value="Yonex">Yonex</option>
                  <option value="Prince">Prince</option>
                  <option value="Dunlop">Dunlop</option>
                  <option value="Tecnifibre">Tecnifibre</option>
                </select>
                <br>
        
                <label for="rmodel">Racquet Model</label>   
                <input type="text" id="rmodel" name="racket_model" class="form-control bg-dark rounded-0 text-white border-0" placeholder="Racquet Model" required><br>
        
                <label for='smain'>String Mains</label>    
                <select id="smain" name="string_main" class="form-control bg-dark rounded-0 text-white border-0">
                 <option value="Hyper G">Hyper G</option>
                 <option value="Barbwire">Barbwire</option>
                 <option value="Tourbite">Tourbite</option>
                 <option value="Own String">Vanquish</option>
                 <option value="Own String">Synthetic</option>
                 <option value="Own String">Own String</option>
                </select><br>
        
                <label for='scross'>String Crosses</label>
                <select id="scross" name="string_cross" class="form-control bg-dark rounded-0 text-white border-0" required>
                    <option value="Hyper G">Hyper G</option>
                    <option value="Barbwire">Barbwire</option>
                    <option value="Tourbite">Tourbite</option>
                    <option value="Own String">Vanquish</option>
                    <option value="Own String">Synthetic</option>
                   <option value="Own String">Own String</option>
                </select><br>
        
                <label for='tens'>String Tension</label>    
                <input type="'number" id="tens" name="tension" class="form-control bg-dark rounded-0 text-white border-0" placeholder="String Tension" required><br>
        
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add New Racket</button>
        
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Bootstrap JS imports -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>

