<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>

    <body class="bg-dark">
      <div class="px-5 pt-5 pb-3 text-white">
        <h3> Racquet Queue </h3>
    </div>
        <table class="table table-dark table-striped table-bordered table-hover" style="width: 1200px; margin:auto">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col" style="width:15%">Date Received</th>
                <th scope="col">Racket Brand</th>
                <th scope="col">Racket Model</th>
                <th scope="col">Strings Mains</th>
                <th scope="col">Strings Cross</th>
                <th scope="col">Tension</th>
                <th scope="col">Stringer</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                {% for racket in rackets %}
                    <tr class="text-center">
                        <td class="align-middle">{{racket.created_on}}</td>
                        <td class="align-middle">{{racket.racket_brand}}</td>
                        <td class="align-middle">{{racket.racket_model}}</td>
                        <td class="align-middle">{{racket.string_main}}</td>
                        <td class="align-middle">{{racket.string_cross}}</td>
                        <td class="align-middle">{{racket.tension}}</td>
                        <td class="align-middle"> 
                          <select class="select-picker bg-dark text-white border-0"> 
                            <option>Diego 
                            <option>Jaime 
                            <option>Mauricio
                            <option>Emilio 
                            </select>
                           </td>
                        <td class="align-middle"> <button type="button" class="btn btn-secondary">Finished</button></td>
                    </tr>
                {% endfor %}

            </tbody>
          </table>
    </body>
</html>

