<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>

  <body class="bg-dark">
   <div class="px-5 pt-5 pb-3 text-white">
      <h3>Racquets History</h3>
    </div>
    <table class="table table-dark table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Racket ID</th>
          <th scope="col">Player Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Racket Brand</th>
          <th scope="col">Racket Model</th>
          <th scope="col">Strings Main</th>
          <th scope="col">Strings Cross</th>
          <th scope="col">Tension</th>
          <th scope="col">Created On</th>
          <th scope="col">Updated On</th>
        </tr>
      </thead>
      <tbody>
        {% for racket in rackets %}
        <tr>
          <th scope="row">{{ racket.id }}</th>
          <td>{{racket.player_name}}</td>
          <td>{{racket.phone_number}}</td>
          <td>{{racket.racket_brand}}</td>
          <td>{{racket.racket_model}}</td>
          <td>{{racket.string_main}}</td>
          <td>{{racket.string_cross}}</td>
          <td>{{racket.tension}}</td>
          <td>{{racket.created_on}}</td>
          <td>{{racket.updated_on}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
